body {
  background-color: #333333;
}

/*
@font-face {
  font-family: "asteroid";
  src: url("asteroid.woff");
}
*/ 

@font-face {
  font-family: 'bitter'; src: url('bitter.ttf');
}

#statusbox{
  margin: auto;
  width:75%;
  color:green;
  font-family: "bitter";
}

#status{
  position:absolute;
  margin-left: 12.5%;
  left:0px;
  color:green;
}

#status2{
  position:absolute;
  margin-right: 12.5%;
  right:0px;
  color:red;
}

#input {
  margin-top: 20px;
  margin-left: 25%;
  font-family: "bitter";
  font-size: 32px;
  color: #63ff00;
  /* bright green */
}

input[type=text] {
 /* gets rid of input border */ 
  border: none;
  -webkit-appearance: none;
  width: 80%;
  font-size: 32px;
  background-color: #333333;
  color: #ffffff;
  /* white */
  box-shadow: none;
}

input[type=text]:focus {
  outline: none;  
}

input[type=submit]{
 visibility:hidden;
}

#signpost {
  color: green;
  font-weight: bold;
  font-size: medium;
}

#outputbox {
  border-bottom: solid green;
  width: 75%;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  font-family: "bitter", sans-serif;
}

.output {
  color:#63ff00;
  /* bright green */
  font-size: large;
}

ul {
  list-style-type: none;
}

#enter,#letter {
  color: #ff6600;
  /* bright orange */
}

#menu {
  color: #ffffff;
  /* white */
  font-weight: bold;
}

#quest{
  color: #00BBF2;
  /* light blue */
  font-weight: bold;
}

#victory {
  color: #00BBF2;
  font-weight: bold;
}

#death,#defeat {
  color: red; 
  font-weight: bold;
}

#xp,#gold {
  color: yellow;
  font-weight: bold;
}

#quote{
  color: #ff00ff;
  font-weight: bold;
}
